/********************************

            GÉNÉRAL

********************************/
body{
    margin:0px;
}
header{
    background-color: #B90000;
}
nav{
    height:15%;
}
.menu{
    width:10%;
    border-radius: 50%;
    text-decoration: none;
    height:15%;
}
.imagemenu{
    display: inline-block;
    float: left;
}
.titre{
    width:80%;
    height:fit-content;

}
h1{
    text-align: center;
}
.titreMenu{
    text-align: center;
}
/********************************
            GÉNÉRAL
---------------------------------
         PRÉSENTATION
********************************/




/********************************
         PRÉSENTATION
---------------------------------

********************************/
