/********************************

            GÉNÉRAL

********************************/
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Cinzel:wght@700&family=Crete+Round&family=Tajawal&display=swap');
body{
    margin:0px;
    background-color: #242424;
    color: #ffffff;
    font-family: Tajawal,sans-serif;
    font-weight: 400;
}
header{
    background-color: #B90000;
}
nav{

}
div.images{
    text-align: center;
}
p{
    margin:5.3%;
    font-size: 27px;
}
.menu{
    width:10%;
    border-radius: 50%;
    text-decoration: none;
    height:15%;
}
.imagemenu{
    display: inline-block;
    float: left;
}
.titre{
    width:80%;
    height:fit-content;

}
h1{
    text-align: center;
}
.titreMenu{
    text-align: center;
    margin:0px;
}
/********************************
            GÉNÉRAL
---------------------------------
         PRÉSENTATION
********************************/




/********************************
         PRÉSENTATION
---------------------------------

********************************/
